<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="unit-tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <php>
    <!-- E_ALL & ~E_DEPRECATED -->
    <ini name="error_reporting" value="24575"/>
  </php>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
