name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          show-progress: false
      - uses: shivammathur/setup-php@53bf16784717a43dc19b99af8195df08d9a18f76
        with:
          php-version: '8.4'
          tools: composer
          extensions: xdebug
      - uses: actions/cache@v4
        with:
          path: |
            vendor
            ~/.composer/cache
          key: composer-${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: composer-${{ runner.os }}-
      - run: composer install --quiet --no-ansi --no-interaction --no-progress --prefer-dist
      - run: composer normalize --dry-run
      - run: composer validate
      - run: composer phpstan -- --ansi
      - run: composer psalm

  unit-tests:
    needs: [static-analysis]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          show-progress: false
      - uses: shivammathur/setup-php@53bf16784717a43dc19b99af8195df08d9a18f76
        with:
          php-version: '8.4'
          tools: composer
          coverage: xdebug
      - uses: actions/cache@v4
        with:
          path: |
            vendor
            ~/.composer/cache
          key: composer-${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: composer-${{ runner.os }}-
      - run: composer install --quiet --no-ansi --no-interaction --no-progress --prefer-dist
      - run: composer normalize --dry-run
      - run: composer validate
      - run: vendor/bin/phpunit || true
      - uses: SonarSource/sonarqube-scan-action@40f5b61913e891f9d316696628698051136015be
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
