name: Continuous Integration

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "renovate.json"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/workflows/release.yml"

  pull_request:
    paths-ignore:
      - "**.md"
      - "renovate.json"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/workflows/release.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  coding-standards:
    name: Coding Standards
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          show-progress: false

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: 'latest'
          tools: composer
          coverage: none

      - name: Composer Install
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
        with:
          custom-cache-key: composer-${{ runner.os }}-${{ hashFiles('**/composer.json') }}

      - name: Check Syntax
        run: composer dev:lint:syntax

      - name: Check Code Style
        run: composer dev:lint:style

  static-analysis:
    name: Static Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          show-progress: false

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: 'latest'
          tools: composer
          coverage: none

      - name: Composer Install
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
        with:
          custom-cache-key: composer-${{ runner.os }}-${{ hashFiles('**/composer.json') }}

      - name: Run Static Analysis
        run: composer dev:analyze:phpstan

  code-coverage:
    name: Code Coverage
    needs: [coding-standards, static-analysis]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          show-progress: false

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: 'latest'
          tools: composer
          extensions: gmp
          coverage: xdebug

      - name: Composer Install
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
        with:
          custom-cache-key: composer-${{ runner.os }}-${{ hashFiles('**/composer.json') }}

      - name: Run Tests with Coverage
        run: composer dev:test:coverage:ci

      - name: Upload to SonarCloud
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  unit-tests:
    name: Unit Tests
    needs: [coding-standards, static-analysis]
    runs-on: ${{ matrix.os }}

    strategy:
        fail-fast: false
        matrix:
            php-version: ['8.2', '8.3', '8.4', '8.5']
            os: [ubuntu-latest, windows-latest]

    steps:
      - name: Configure Git for Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          git config --system core.autocrlf false
          git config --system core.eol lf

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          show-progress: false

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer
          extensions: gmp
          coverage: none

      - name: Composer Install
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
        with:
          custom-cache-key: composer-${{ matrix.os }}-php-${{ matrix.php-version }}-${{ hashFiles('**/composer.json') }}

      - name: Run Unit Tests
        run: composer dev:test:unit
